[Unit]
Description=Webgenome Webserver
After=network.target

[Service]
Type=simple
User=webgenome
WorkingDirectory=/home/webgenome/go/src/github.com/DevDungeon/WebGenome/website
ExecStart=/home/webgenome/go/bin/website
Restart=always

[Install]
WantedBy=multi-user.target
